* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #46494c;
}

.headerWrapper {
  margin: auto;
  max-width: 1170px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.activeLink {
  cursor: default;
  color: #1985a1;
}

.activeLink:hover {
  border-bottom: 3px solid #1985a1;
}
