.HeaderLink {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  width: 90px;
  padding: 1.2rem 0;
}

.HeaderLink:hover {
  border-bottom: 3px solid #fff;
  margin-bottom: -3px;
}
